body {
    margin: 60px auto;
    width: 70%;
    background-color:lightgrey;
    background-image:url('/images/light-wood-texture.jpg');
}
nav {
    background:aliceblue;
    text-align:center;
    border-radius:10px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}
nav ul, footer ul {
    font-family:'Open Sans','Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Open Sans','Helvetica', 'Arial', 'Sans-Serif';
    color:#0d81af; 
}
p {
    font-family:'Open Sans','Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #333;
    font-size:1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


ol, ul {
     margin-top: 15px; 
     margin-bottom: 10px; 
}


.project{
    border-radius:10px;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    display: inline-block; 
}

.work {
    background-color: #e9f0fc;  /* light blue */
}

.opensource {
    background-color: #ccffcc; /* light green */
}

.personal {
    background-color: #ffe6ff; /* light pink */
}

.school {
    background-color: #f3ccff; /* light purple */
}


/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 10px;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.container-fluid {
    border-radius: 15px 15px;
    padding: 10px;
    background-color: white;
}

@media (max-width: 768px) {
    body {
        width: 75%;
    }
}
