body {
margin: 60px auto;
width: 65%;
background-color: slategray;
background-image:url('/images/light-veneer.png');
font-family: 'Roboto', sans-serif;

}

nav {
text-align: center;
border-radius: 10px;
padding-top: 1px;
padding-bottom: 1px;
margin-bottom: 10px;
margin-top: 10px;
}

nav ul,
footer ul {
padding: 0px;
list-style: none;
font-weight: bold;
}

nav ul li,
footer ul li {
display: inline;
margin-right: 20px;
}

a {
text-decoration: none;
color: black;
}

a:hover {
text-decoration: underline;
color: #909090;
}

h1 {
font-size: 3em;
}

p {
line-height: 1.4em;
color: #333;
font-size: 16px;
}

ul.posts {
margin: 20px auto 40px;
font-size: 1.5em;
}

ul.posts li {
list-style: none;
}

ol,
ul {
margin-top: 15px;
margin-bottom: 10px;
}

.project {
border-radius: 10px;
padding: 10px 20px 10px 20px;
margin-top: 10px;
display: inline-block;
}

.top-link {
color: #101010;
margin-top: 40px;
font-size: 70px;
}

html {
overflow-x: hidden
}

h1 {
font-size: 38px
}

h2 {
font-size: 32px
}

h3 {
font-size: 26px
}

h4 {
font-size: 22px
}

h5 {
font-size: 20px
}

h6 {
font-size: 18px
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: 300;
}

html,
body {
font-size: 15px;
line-height: 1.5
}

img {
display: block;
margin: 0 auto;
}

.text-teal {
color: #009688!important
}

.padding-16 {
padding-top: 16px!important;
padding-bottom: 16px!important
}


.container {
padding: 0.01em 16px;
}


.content {
max-width: 980px;
margin: auto
}


.margin-right {
margin-right: 16px!important;
}

.margin-top {
    margin-top: 16px!important;
}

.card-1 {
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
color: #000!important;
background-color: #fff!important;
padding: 25px;
}

.row-padding:after,
.w3-row-padding:before {
content: "";
display: table;
clear: both;
}

.row-padding {
padding: 0 8px
}

.xxlarge {
font-size: 36px!important
}

.text-grey {
color: #757575!important
}

.light-grey {
color: #000!important;
background-color: #f1f1f1!important
}

.teal {
color: #fff!important;
background-color: #009688!important
}

.center {
text-align: center!important
}

@media (max-width: 768px) {
body {
    width: 75%;
}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
body {
    width: 100%;
}
}


/*------------------------------------------------------------------------------
Home Page
------------------------------------------------------------------------------*/

/* .listing .post {
margin: 40px 0; */
/* } */

.listing .post:first-child {
margin-top: 22px;
}

.listing .post p.date {
font-size: 14px;
color: #bbb;
}

.listing .post h2 {
margin: 0 0 -12px 0;
font-weight: 100;
font-size: 30px;
border: none;
}

.listing .post h2 a {
/* color: #2382c8; */
/* color: deepskyblue; */
text-decoration: none;
font-size: 30px;
font-weight: 300;
}

.listing .post h2 i {
font-size: 40px;
}

.listing .post .post-summary {
font-size: 20px;
color: #777;
}

.listing .post.other {
color: #666;
/*border-left: 1px solid #ddd;*/
}

.listing .post.other h2 {
margin: -5px 0 -15px 0;
font-size: 21px;
font-weight: 300;
}

.listing .post.other h2 a {
color: #303030;
}

.listing .post.other h2 a:hover {
color: #909090;
}

.listing .post.other p:last-child {
margin-bottom: 0;
}

.listing .post.other .icon {
float: left;
margin-top: -3px;
margin-left: -35px;
width: 20px;
height: 20px;
font-size: 20px;
color: #ddd;
}

.listing .post.other .icon:hover {
text-decoration: none;
color: #bbb;
}

.listing blockquote {
border-left-color: #ddd;
}

.post-date {
font-size: 14px;
}

@media only screen and (max-width: 520px) {
.listing .post {
    margin: 30px 0;
}
.listing .post h2 {
    font-size: 24px;
}
.listing .post .post-summary {
    font-size: 18px;
}
}
