<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="blurb">
				<h1>Veerpal Brar</h1>
				<p> I'm a computer science major trying to get a degree so I can go out into the world and code amazing things. </p>
				<nav>
			    		<ul>
			        		<li><a href="/">Home</a></li>
				        	<li><a href="/about">About</a></li>
			        		<li><a href="/resume">Resume</a></li>
			        		<li><a href="/blog">Blog</a></li>
			        		<li><a href="mailto:veerpal707@gmail.com">email</a></li>
	        				<li><a href="https://github.com/VeerpalBrar">github</a></li>
			    		</ul>
				</nav>
			</div><!-- /.blurb -->
			<div class="container">
			
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
