<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>

    {% include meta.html %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container-fluid margin-bottom">
        <div id="piccontainer">
            <img src="/images/circle.png" id="pic" alt="Avatar">
        </div>
        <div  id="header">
            <div id="leftheader">
                <h5>Veerpal Brar</h5>
                <p><i class="fa fa-graduation-cap fa-fw margin-right large text-teal"></i>Computer Science Specialist at the University of Toronto</p>
                <p><a href="https://github.com/VeerpalBrar"><i class="fa fa-github fa-fw margin-right text-teal"></i>Github</a>&emsp;&emsp;<a href="https://www.linkedin.com/in/veerpal-brar-678052127"><i class="fa fa-linkedin fa-fw margin-right text-teal"></i>LinkedIn</a></p>

            </div>
            <div id="rightheader">

                <p class="margin-top"> <a href="/"><i class="fa fa-home fa-fw margin-right text-teal"></i>Home</a>
                </p>
                <p class="margin-bottom"> <a href="/blog"><i class="fa fa-rss fa-fw margin-right text-teal"></i>Blog</a>
                </p>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        {{ content }}
    </div>
    <!-- /.content -->

    <footer class="container center margin-top">
        <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by Veerpal Brar</p>
    </footer>
</body>
</html>