<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title><!-- Latest compiled and minified CSS -->
</head>
<body>
    {% include meta.html %}
    <link href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    rel="stylesheet"><!-- jQuery library -->
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js">
    </script><!-- Latest compiled JavaScript -->
     
    <script src=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
    </script><!-- link to Bootstrap -->
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <!-- link to main stylesheet -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel=
    'stylesheet' type='text/css'>
    
    <nav style="background:aliceblue; text-align:center; border-radius:10px;">
        <ul>
            <li class="active">
                <a href="/">About</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        {{ content }}
    </div><!-- /.content -->
</body>
</html>